{% extends 'main/base.html' %}

{% block body %}
<div class="container-fluid">
    {% for competitor in competitors %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                    <img src="{{ competitor.Competitor_Logo.url }}" alt="{{ competitor.Competitor_Name }}" class="img-responsive" />
                </div>
                <div class="card-content">
                  <span class="card-title"><strong>{{ competitor.Competitor_Name }}</strong></span>
                  <p>Category: {{ competitor.Category }}</p>
                  <br/>
                  <p>{{ competitor.Notes|truncatewords:10|safe}}</p>
                </div>
                <div class="card-action">
                  <a href="{% url 'competitor_detail' pk=competitor.pk %}">Learn More...</a>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}